<head>
  <title>Rang</title>
</head>

<body>
    <div class="jumbotron"> </div>
    <%= render partial: 'search' %> <br> <br>
    <div class="center">
      <div class="row">
        <% @products.each do |p| %>
          <div class="col-md-3">
            <div class="thumbnail">
              <%= link_to(image_tag(p.image_url, size: "250x250"), p) %>
              <div class="caption">
                <h5> <%= p.name %> </h5>
                <p> <%= number_to_currency p.price.to_i %> </p>
              </div>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
    <%= will_paginate class: 'pagination-sm', renderer: BootstrapPagination::Rails %>
</body>